@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  background-color: rgb(2, 4, 27);
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100vh;
}

.container{
  width: 50%;
  height: 50%;
  margin: auto;
}

h1{
  font-size: 2.5rem;
  padding: 5rem;
  padding-bottom: 1rem; 
}

input{
  font-size: 1.2rem;
  display: block;
  margin: 0rem 5rem 2rem 13rem;
}

button{
  font-size: 1.4rem;
  border: 1 px solid rgb(2, 4, 27);
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
  color: rgb(2, 4, 27);
}

#result{
  font-size: 1.2rem;
  margin-left: 2rem;
}